body {
}

#navbarNav, #tracker_title, #navbar_log_out {
    background-color: deepskyblue;
}

#login_header, #login_footer, #register_header {
    background-color: #ffe866;
}

#login {
    padding-top: 5%;
}

#addBookModal {
    background-color: white;
}


